/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/php.xml
/.idea/PreExamen.iml
/.idea/vcs.xml
/.idea/workspace.xml
/var/*
var/cache/dev/appDevDebugProjectContainer.php
var/cache/dev/appDevDebugProjectContainer.php.meta
var/cache/dev/appDevDebugProjectContainer.xml
var/cache/dev/appDevDebugProjectContainer.xml.meta
var/cache/dev/appDevDebugProjectContainerCompiler.log
var/cache/dev/appDevDebugProjectContainerUrlGenerator.php
var/cache/dev/appDevDebugProjectContainerUrlMatcher.php
